name: Docker CI Build and Push

on:
  push:
    branches: [ "main" ]

jobs:
  build_and_push_image:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Checkout repository code
        uses: actions/checkout@v4

      - name: 2. Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: 3. Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: 4. Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true 
          file: ./web-content/Dockerfile
          tags: ${{ secrets.DOCKER_USERNAME }}/elden-cake:latest, ${{ secrets.DOCKER_USERNAME }}/elden-cake:${{ github.sha }}
